@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?28icxw');
	src:url('../fonts/icomoon.eot?#iefix28icxw') format('embedded-opentype'),
		url('../fonts/icomoon.woff?28icxw') format('woff'),
		url('../fonts/icomoon.ttf?28icxw') format('truetype'),
		url('../fonts/icomoon.svg?28icxw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}